<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h2 class="subtitle">Airship CMS Forms</h2>
          <h1 class="title">
            Form Creation Guide
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section body-section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="docs-container">
          {{{fields.body}}}
        </div>
      </div>
    </div>
  </div>
</section>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/assets/scripts/contact.js"></script>